
<h1>All Chefs</h1>
<% @listings.each do |listing| %>
  <h2><strong><%= listing.name %></strong></h2>
  <h4><strong>Description:</strong> <%= listing.description %></h4>
  <h4> <strong>Price:</strong> <%= listing.price %> €</h4>
  <%= link_to "See more details", listing_path(listing) %>
<% end %>
