<!-- Banner-->
<div>
  <%=img src="kitchen:color.png"%>
    <button class="btn btn-success my-2 my-sm-0" type="submit">get inspired</button>
  </div>
</div>

<!-- About section-->
<section id="about" class="my-4">
            <div class="container px-4 my-8">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>hungry and don't feel like cooking?</h2>
                        <p class="lead">have a look!</p>
                    </div>
                </div>
            </div>
        </section>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      Pasta
    </div>
    <div class="col">
      Pizza
    </div>
    <div class="col">
      Salad
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      Burger
    </div>
    <div class="col">
      Steaks
    </div>
    <div class="col">
      Soups
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      Tacos
    </div>
    <div class="col">
      Fish
    </div>
    <div class="col">
      Vegetarian
    </div>
  </div>
 </div>
 </body>
</html>
