<h1>All listings</h1>

<% @listings.each do |listing| %>
  <div>
    <%= listing.name %>
    <%= link_to "See more", listing_path(pet) %>
    <%= link_to "Owner took back pet", destroy_listing_path(pet), method: :delete, data: {confirm: "Are you sure?"}  %>
  </div>
<% end %>
